<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ffcs.zhsq.mybatis.persistence.reportFocus.petitionPerson.ReportPetPerMapper" >
  	<!-- 信访人员稳控信息查询列 -->
  	<sql id="sameCol">
  		T2.OPT_UUID				"optUUID",
  		T2.REPORT_UUID			"reportUUID",
  		T2.DATA_SOURCE			"dataSource",
  		T2.COLLECT_SOURCE		"collectSource",
  		T2.PARTY_NAME		"partyName_",
  		T2.PARTY_ID         "partyId",
		T2.CERT_TYPE		"certType",
		T2.IDENTITY_CARD		"identityCard",
		T2.I_RESIDENCE_ADDR		"iResidenceAddr",
		T2.RESIDENCE_ADDR_NO		"residenceAddrNo",
		T2.PARTY_TYPE		"partyType",
		T2.PARTY_NUM		"partyNum",
		T2.ITEM_REMARK		"itemRemark",
		T2.PETITION_TYPES		"petitionTypes",
		T2.PETITION_TREND		"petitionTrend",
		T2.CONTROL_TYPE		"controlType",
		T2.PETITION_PARTY_TYPE		"petitionPartyType",
		T2.FEEDBACK_TIME		"feedbackTime",
		T2.CONTROL_RESULT		"controlResult",
		T2.PETITION_ADDR		"petitionAddr",
		T2.IS_RIGHT_ORG		"isRightOrg",
		T2.CUR_CITY		"curCity",
		T2.AM_TIME		"amTime",
		T2.PM_TIME		"pmTime",
		T2.FEEDBACK_RESULT		"feedbackResult",
		T2.USER_TEL		"userTel",
		T2.STATE_MESSAGE		"stateMessage",
		T2.END_TIME		"endTime",
		T2.REMARK               "remark",
		T2.CREATOR		"creator",
		T2.CREATE_TIME		"createTime",
		T2.UPDATOR		"updator",
		T2.UPDATE_TIME		"updateTime"
		
  	</sql>
  	
  	<!-- 草稿列表查询列 -->
  	<sql id="list_column_draft">
  		T1.REPORT_ID		"reportId",
		T1.REPORT_UUID		"reportUUID",
		T1.REPORT_CODE		"reportCode",
		T2.OPT_UUID			"optUUID",
		T1.REPORTER_NAME	"reporterName",
		T1.OCCURRED			"occurred", 
		T1.REPORT_TIME		"reportTime", 
		T1.REPORT_STATUS	"reportStatus"
  	</sql>
  	
  	<!-- 列表查询列 -->
  	<sql id="list_column">
  		<include refid="list_column_draft"></include>,
  		T3.INSTANCE_ID		"instanceId", 
  		T3.FORM_TYPE_ID		"formTypeId"
  	</sql>
  	
  	<!-- 重点关注上报查询列 -->
  	<sql id="reportSameCol">
  		T1.REPORT_ID			"reportId",
  		T1.REPORT_CODE			"reportCode",
  		T1.REPORT_TYPE			"reportType",
  		T1.REPORT_WAY			"reportWay",
  		T1.REPORTER_NAME		"reporterName",
  		T1.REPORTER_ORG_ID		"reporterOrgId",
  		T1.OCCURRED				"occurred",
  		T1.TIPOFF_CONTENT		"tipoffContent",
  		T1.REGION_CODE			"regionCode",
  		T1.REPORT_TIME			"reportTime",
  		T1.REPORT_STATUS		"reportStatus",
  		T1.REPORT_SUB_STATUS	"reportSubStatus"
  	</sql>
  	
  	<!-- 新增信访人员稳控信息 -->
  	<insert id="insert">
  		<selectKey keyProperty="optUUID" resultType="String" order="BEFORE">
			SELECT SYS_GUID() FROM DUAL
		</selectKey>
		INSERT INTO T_EVENT_PETITION_PERSON (
			OPT_UUID, REPORT_UUID,
			DATA_SOURCE,COLLECT_SOURCE,
			PARTY_NAME,CERT_TYPE,
			IDENTITY_CARD,I_RESIDENCE_ADDR,
			RESIDENCE_ADDR_NO,PARTY_TYPE,
			PARTY_NUM,ITEM_REMARK,
			PETITION_TYPES,PETITION_TREND,
			CONTROL_TYPE,PETITION_PARTY_TYPE,
			PARTY_ID,
			USER_TEL,REMARK, 
			CREATOR, CREATE_TIME, 
			UPDATOR, UPDATE_TIME, FEEDBACK_TIME
        )
        VALUES(
        	#{optUUID,jdbcType=VARCHAR}, #{reportUUID,jdbcType=VARCHAR}, 
        	<choose>
        		<when test="@Ognl@isNotEmpty(dataSource)">
        			#{dataSource,jdbcType=VARCHAR},
        		</when>
        		<otherwise>
        			DEFAULT,
        		</otherwise>
        	</choose>
        	<choose>
        		<when test="@Ognl@isNotEmpty(collectSource)">
        			#{collectSource,jdbcType=VARCHAR},
        		</when>
        		<otherwise>
        			DEFAULT,
        		</otherwise>
        	</choose>
        	NULLIF(#{partyName_,jdbcType=VARCHAR}, ''),NULLIF(#{certType,jdbcType=VARCHAR}, ''),
        	NULLIF(#{identityCard,jdbcType=VARCHAR}, ''),NULLIF(#{iResidenceAddr,jdbcType=VARCHAR}, ''),
        	NULLIF(#{residenceAddrNo,jdbcType=VARCHAR}, ''),NULLIF(#{partyType,jdbcType=VARCHAR}, ''),
        	#{partyNum,jdbcType=DECIMAL},NULLIF(#{itemRemark,jdbcType=VARCHAR}, ''),
        	NULLIF(#{petitionTypes,jdbcType=VARCHAR}, ''),NULLIF(#{petitionTrend,jdbcType=VARCHAR}, ''),
        	NULLIF(#{controlType,jdbcType=VARCHAR}, ''),NULLIF(#{petitionPartyType,jdbcType=VARCHAR}, ''),
        	#{partyId,jdbcType=DECIMAL},
        	NULLIF(#{userTel,jdbcType=VARCHAR}, ''),NULLIF(#{remark,jdbcType=VARCHAR}, ''), 
        	#{creator,jdbcType=DECIMAL}, SYSDATE, 
        	#{updator,jdbcType=DECIMAL}, SYSDATE,#{feedbackTime,jdbcType=TIMESTAMP}
        )
  	</insert>
  	
  	<!-- 依据id更新信访人员稳控信息 -->
  	<update id="update">
  		UPDATE T_EVENT_PETITION_PERSON T2 
		<set>
			<choose>
				<when test="@Ognl@isNotEmpty(dataSource)">
					T2.DATA_SOURCE = #{dataSource,jdbcType=VARCHAR},
				</when>
				<when test="dataSource == ''">
					T2.DATA_SOURCE = DEFAULT,
				</when>
			</choose>
			<choose>
				<when test="@Ognl@isNotEmpty(collectSource) ">
					T2.COLLECT_SOURCE = #{collectSource,jdbcType=VARCHAR},
				</when>
				<when test="collectSource == ''">
					T2.COLLECT_SOURCE = DEFAULT,
				</when>
			</choose>
			
			<if test="partyName_ != null " >
				T2.PARTY_NAME=NULLIF(#{partyName_,jdbcType=VARCHAR}, ''),
			</if>
			<if test="partyId != null " >
				T2.PARTY_ID=#{partyId,jdbcType=DECIMAL},
			</if>
			
			<if test="certType != null " >
				T2.CERT_TYPE=NULLIF(#{certType,jdbcType=VARCHAR}, ''),
			</if>
			<if test="identityCard != null " >
				T2.IDENTITY_CARD=NULLIF(#{identityCard,jdbcType=VARCHAR}, ''),
			</if>
			<if test="iResidenceAddr != null " >
				T2.I_RESIDENCE_ADDR=NULLIF(#{iResidenceAddr,jdbcType=VARCHAR}, ''),
			</if>
			<if test="residenceAddrNo != null " >
				T2.RESIDENCE_ADDR_NO=NULLIF(#{residenceAddrNo,jdbcType=VARCHAR}, ''),
			</if>
			<if test="partyType != null " >
				T2.PARTY_TYPE=NULLIF(#{partyType,jdbcType=VARCHAR}, ''),
			</if>
			<if test="partyNum != null " >
				T2.PARTY_NUM=#{partyNum,jdbcType=DECIMAL},
			</if>
			<if test="itemRemark != null " >
				T2.ITEM_REMARK=NULLIF(#{itemRemark,jdbcType=VARCHAR}, ''),
			</if>
			<if test="petitionTypes != null " >
				T2.PETITION_TYPES=NULLIF(#{petitionTypes,jdbcType=VARCHAR}, ''),
			</if>
			<if test="petitionTrend != null " >
				T2.PETITION_TREND=NULLIF(#{petitionTrend,jdbcType=VARCHAR}, ''),
			</if>
			<if test="controlType != null " >
				T2.CONTROL_TYPE=NULLIF(#{controlType,jdbcType=VARCHAR}, ''),
			</if>
			<if test="petitionPartyType != null " >
				T2.PETITION_PARTY_TYPE=NULLIF(#{petitionPartyType,jdbcType=VARCHAR}, ''),
			</if>
			<if test="feedbackTime != null " >
				T2.FEEDBACK_TIME=#{feedbackTime,jdbcType=TIMESTAMP},
			</if>
			<if test="controlResult != null " >
				T2.CONTROL_RESULT=NULLIF(#{controlResult,jdbcType=VARCHAR}, ''),
			</if>
			<if test="petitionAddr != null " >
				T2.PETITION_ADDR=NULLIF(#{petitionAddr,jdbcType=VARCHAR}, ''),
			</if>
			<if test="isRightOrg != null " >
				T2.IS_RIGHT_ORG=NULLIF(#{isRightOrg,jdbcType=VARCHAR}, ''),
			</if>
			<if test="curCity != null " >
				T2.CUR_CITY=NULLIF(#{curCity,jdbcType=VARCHAR}, ''),
			</if>
			<if test="amTime != null " >
				T2.AM_TIME=NULLIF(#{amTime,jdbcType=VARCHAR}, ''),
			</if>
			<if test="pmTime != null " >
				T2.PM_TIME=NULLIF(#{pmTime,jdbcType=VARCHAR}, ''),
			</if>
			<if test="feedbackResult != null " >
				T2.FEEDBACK_RESULT=NULLIF(#{feedbackResult,jdbcType=VARCHAR}, ''),
			</if>
			<if test="userTel != null " >
				T2.USER_TEL=NULLIF(#{userTel,jdbcType=VARCHAR}, ''),
			</if>
			<if test="stateMessage != null " >
				T2.STATE_MESSAGE=NULLIF(#{stateMessage,jdbcType=VARCHAR}, ''),
			</if>
			<if test="endTime != null " >
				T2.END_TIME=#{endTime,jdbcType=TIMESTAMP},
			</if>
			
			<if test="remark != null">
				T2.REMARK = NULLIF(#{remark,jdbcType=VARCHAR}, ''),
			</if>
			<if test="updator != null ">
				T2.UPDATOR = #{updator,jdbcType=DECIMAL},
			</if>
			T2.UPDATE_TIME = SYSDATE
		</set>
		
		<where>
			<choose>
				<when test="@Ognl@isNotEmpty(optUUID)">
					T2.OPT_UUID = #{optUUID,jdbcType=VARCHAR}
				</when>
				<when test="@Ognl@isNotEmpty(reportUUID)">
					T2.REPORT_UUID = #{reportUUID,jdbcType=VARCHAR}
				</when>
				<otherwise>
					1 = 2
				</otherwise>
			</choose>
		</where>
  	</update>
  	
  	<!-- 依据id删除信访人员稳控信息 -->
  	<delete id="delete">
  		UPDATE T_EVENT_PETITION_PERSON T2
	  	<set>
	  		<if test="delUserId != null ">
	  			T2.UPDATOR = #{delUserId,jdbcType=DECIMAL},
	  		</if>
	  		T2.IS_VALID = '0', 
	  		T2.UPDATE_TIME = SYSDATE
	  	</set>
	  	<where>
			<choose>
				<when test="@Ognl@isNotEmpty(optUUID)">
					T2.OPT_UUID = #{optUUID,jdbcType=VARCHAR}
				</when>
				<when test="@Ognl@isNotEmpty(reportUUID)">
					T2.REPORT_UUID = #{reportUUID,jdbcType=VARCHAR}
				</when>
				<otherwise>
					1 = 2
				</otherwise>
			</choose>
		</where>
  	</delete>
  	
  	<!-- 依据id获取信访人员稳控信息 -->
  	<select id="findByIdSimple" resultType="java.util.Map">
  		SELECT
	  		<include refid="sameCol"/>
	  	FROM T_EVENT_PETITION_PERSON T2
	  	<where>
			<choose>
				<when test="@Ognl@isNotEmpty(optUUID)">
					T2.OPT_UUID = #{optUUID,jdbcType=VARCHAR}
				</when>
				<when test="@Ognl@isNotEmpty(reportUUID)">
					T2.REPORT_UUID = #{reportUUID,jdbcType=VARCHAR}
				</when>
				<otherwise>
					1 = 2
				</otherwise>
			</choose>
			AND T2.IS_VALID = '1'
		</where>
  	</select>
  	
  	<!-- 依据id获取信访人员稳控信息 -->
  	<select id="findById" resultType="java.util.Map">
  		SELECT
	  		<include refid="sameCol"/>,
	  		<include refid="reportSameCol"></include>
	  	FROM T_EVENT_REPORT_FOCUS T1, T_EVENT_PETITION_PERSON T2
		WHERE T1.REPORT_UUID = T2.REPORT_UUID AND T1.IS_VALID IN ('1', '2') AND T2.IS_VALID = '1'
		<choose>
			<when test="@Ognl@isNotEmpty(optUUID)">
				T2.OPT_UUID = #{optUUID,jdbcType=VARCHAR}
			</when>
			<when test="reportId != null ">
				AND T1.REPORT_ID = #{reportId,jdbcType=DECIMAL}
			</when>
			<when test="@Ognl@isNotEmpty(reportUUID)">
				AND T2.REPORT_UUID = #{reportUUID,jdbcType=VARCHAR}
			</when>
			<otherwise>
				AND 1 = 2
			</otherwise>
		</choose>
  	</select>
  	
  	<!-- 信访人员稳控状态跟踪列表 开始 -->
  	<select id="findCount4StatusTrack" resultType="java.lang.Integer">
  		SELECT 
  			COUNT(1)
		<include refid="sql4StatusTrack"></include>
  	</select>
  	<select id="findList4StatusTrack" resultType="java.util.Map">
  		SELECT 
  			<include refid="list_column"></include>
		<include refid="sql4StatusTrack"></include>
		<include refid="order_by"></include>
  	</select>
  	<sql id="sql4StatusTrack">
  		FROM T_EVENT_REPORT_FOCUS T1, T_EVENT_PETITION_PERSON T2, ${dbuser.workflow}.WF_PROCESS_INSTANCE T3, ${dbuser.workflow}.JBPM4_TASK T4, ${dbuser.workflow}.JBPM4_PARTICIPATION T11
		WHERE T1.REPORT_UUID = T2.REPORT_UUID AND T1.REPORT_ID = T3.FORM_ID
		AND T3.INSTANCE_ID = T4.PROCINST_ AND T4.DBID_ = T11.TASK_
		AND T3.FORM_TYPE_ID = 36201
		AND T3.STATUS = '1'
		AND T11.USERID_ = #{curUserId,jdbcType=VARCHAR} AND T11.GROUPID_ = #{curOrgId,jdbcType=VARCHAR} AND T11.TYPE_ = '3'
		<include refid="find_where_report_focus"></include>
		<include refid="find_where_pet_per"></include>
  	</sql>
  	<!-- 信访人员稳控状态跟踪列表 结束 -->
  	
  	<!-- 信访人员稳控信息草稿列表 开始 -->
  	<select id="findCount4Draft" resultType="java.lang.Integer">
  		SELECT 
  			COUNT(1)
		<include refid="sql4Draft"></include>
  	</select>
  	<select id="findList4Draft" resultType="java.util.Map">
  		SELECT 
  			<include refid="list_column_draft"></include>
		<include refid="sql4Draft"></include>
		<include refid="order_by"></include>
  	</select>
  	<sql id="sql4Draft">
  		FROM T_EVENT_REPORT_FOCUS T1, T_EVENT_PETITION_PERSON T2
		WHERE T1.REPORT_UUID = T2.REPORT_UUID 
		<if test="@Ognl@isNotEmpty(createUserId)">
			AND T1.CREATOR = #{createUserId,jdbcType=DECIMAL}
		</if>
		<include refid="find_where_report_focus"></include>
		<include refid="find_where_pet_per"></include>
  	</sql>
  	<!-- 信访人员稳控信息草稿列表 结束 -->
  	
  	<!-- 信访人员稳控信息待办列表 开始 -->
  	<select id="findCount4Todo" resultType="java.lang.Integer">
  		SELECT 
  			COUNT(1)
		<include refid="sql4Todo"></include>
  	</select>
  	<select id="findList4Todo" resultType="java.util.Map">
  		SELECT 
  			<include refid="list_column"></include>,
  			T9.SUPERVISE_MARK	"superviseMark"
		<include refid="sql4Todo"></include>
		<include refid="order_by"></include>
  	</select>
  	<sql id="sql4Todo">
  		FROM T_EVENT_REPORT_FOCUS T1
  		INNER JOIN T_EVENT_PETITION_PERSON T2
  			ON T1.REPORT_UUID = T2.REPORT_UUID
  		INNER JOIN ${dbuser.workflow}.WF_PROCESS_INSTANCE T3
  			ON T1.REPORT_ID = T3.FORM_ID AND T3.FORM_TYPE_ID = 362 
  		INNER JOIN ${dbuser.workflow}.JBPM4_TASK T4
  			ON T3.INSTANCE_ID = T4.PROCINST_
  		INNER JOIN ${dbuser.workflow}.JBPM4_PARTICIPATION T11
  			ON T4.DBID_ = T11.TASK_
  		LEFT JOIN ${dbuser.workflow}.WF_INSTANCE_STATUS T9
			ON T3.INSTANCE_ID = T9.INSTANCE_ID
		WHERE T3.STATUS = '1' AND T11.USERID_ = #{curUserId,jdbcType=VARCHAR} AND T11.GROUPID_ = #{curOrgId,jdbcType=VARCHAR} AND T11.TYPE_ = '3'
		<include refid="find_where_report_focus"></include>
		<include refid="find_where_pet_per"></include>
  	</sql>
  	<!-- 信访人员稳控信息待办列表 结束 -->
  	
  	<!-- 信访人员稳控信息经办列表 开始 -->
  	<select id="findCount4Handled" resultType="java.lang.Integer">
  		SELECT 
  			COUNT(1)
  		<include refid="sql4Handled"></include>
  	</select>
  	<select id="findList4Handled" resultType="java.util.Map">
  		SELECT 
  			<include refid="list_column"></include>,
  			T3.CUR_USER	"curUserName",
  			T3.CUR_ORG	"curOrgName"
  		<include refid="sql4Handled"></include>
  		<include refid="order_by"></include>
  	</select>
  	<sql id="sql4Handled">
		FROM T_EVENT_REPORT_FOCUS T1, T_EVENT_PETITION_PERSON T2, ${dbuser.workflow}.WF_PROCESS_INSTANCE T3
		WHERE T1.REPORT_UUID = T2.REPORT_UUID AND T1.REPORT_ID = T3.FORM_ID AND T3.FORM_TYPE_ID = 362
		AND EXISTS (
		    SELECT 1
		    FROM ${dbuser.workflow}.WF_PROCESS_INSTANCE T3_1, ${dbuser.workflow}.WF_TASK T6, ${dbuser.workflow}.WF_TASK_PARTICIPATION T5
		    WHERE T3_1.FORM_ID = T1.REPORT_ID AND T3_1.INSTANCE_ID = T6.INSTANCE_ID AND T6.TASK_ID = T5.TASK_ID
		    AND T3_1.FORM_TYPE_ID = 362
		    AND T3_1.STATUS IN ('1','2')
		    AND T5.USER_ID = #{handledUserId,jdbcType=DECIMAL} AND T5.ORG_ID = #{handledOrgId,jdbcType=DECIMAL} AND T5.USER_TYPE = '3'
		    AND T5.ISDONE = '1'
		)
		<include refid="find_where_report_focus"></include>
		<include refid="find_where_pet_per"></include>
  	</sql>
  	<!-- 信访人员稳控信息经办列表 结束 -->
  	
  	<!-- 信访人员稳控信息我发起的列表 开始 -->
  	<select id="findCount4Initiator" resultType="java.lang.Integer">
  		SELECT 
  			COUNT(1)
  		<include refid="sql4Initiator"></include>
  	</select>
  	<select id="findList4Initiator" resultType="java.util.Map">
  		SELECT 
  			<include refid="list_column"></include>
  		<include refid="sql4Initiator"></include>
  		<include refid="order_by"></include>
  	</select>
  	<sql id="sql4Initiator">
		FROM T_EVENT_REPORT_FOCUS T1, T_EVENT_PETITION_PERSON T2, ${dbuser.workflow}.WF_PROCESS_INSTANCE T3
		WHERE T1.REPORT_UUID = T2.REPORT_UUID AND T1.REPORT_ID = T3.FORM_ID AND T3.FORM_TYPE_ID = 362
		AND T3.STATUS IN ('1','2')
		AND T3.USER_ID = #{initiatorId,jdbcType=DECIMAL} 
		AND T3.ORG_ID = #{initiatorOrgId,jdbcType=DECIMAL} 
		<include refid="find_where_report_focus"></include>
		<include refid="find_where_pet_per"></include>
  	</sql>
  	<!-- 信访人员稳控信息我发起的列表 结束 -->
  	
  	<!-- 信访人员稳控信息辖区所有列表(精简) 开始 -->
  	<select id="findCount4JurisdictionSimplify" resultType="java.lang.Integer">
  		SELECT 
  			COUNT(1)
  		<include refid="sql4JurisdictionSimplify"></include>
  	</select>
  	<select id="findList4JurisdictionSimplify" resultType="java.util.Map">
  		SELECT 
  			<include refid="list_column"></include>
  		<include refid="sql4JurisdictionSimplify"></include>
  		<include refid="order_by"></include>
  	</select>
  	<sql id="sql4JurisdictionSimplify">
		FROM T_EVENT_REPORT_FOCUS T1, T_EVENT_PETITION_PERSON T2, ${dbuser.workflow}.WF_PROCESS_INSTANCE T3
		WHERE T1.REPORT_UUID = T2.REPORT_UUID AND T1.REPORT_ID = T3.FORM_ID AND T3.FORM_TYPE_ID = 362
		AND T3.STATUS IN ('1','2')
		<include refid="find_where_report_focus"></include>
		<include refid="find_where_pet_per"></include>
  	</sql>
  	<!-- 信访人员稳控信息辖区所有(精简) 结束 -->
  	
  	<!-- 信访人员稳控信息辖区所有列表 开始 -->
  	<select id="findCount4Jurisdiction" resultType="java.lang.Integer">
  		SELECT 
  			COUNT(1)
  		<include refid="sql4Jurisdiction"></include>
  	</select>
  	<select id="findList4Jurisdiction" resultType="java.util.Map">
  		SELECT 
  			<include refid="list_column"></include>,
  			T9.SUPERVISE_MARK	"superviseMark",
  			T3.CUR_USER			"curUserName",
  			T3.CUR_ORG			"curOrgName"
  		<include refid="sql4Jurisdiction"></include>
  		ORDER BY T1.ORDER_BY DESC, T1.REPORT_ID DESC
  	</select>
  	<sql id="sql4Jurisdiction">
		FROM T_EVENT_REPORT_FOCUS T1
		INNER JOIN T_EVENT_PETITION_PERSON T2
			ON T1.REPORT_UUID = T2.REPORT_UUID
		INNER JOIN ${dbuser.workflow}.WF_PROCESS_INSTANCE T3
			ON T1.REPORT_ID = T3.FORM_ID AND T3.FORM_TYPE_ID = 362
		LEFT JOIN ${dbuser.workflow}.WF_INSTANCE_STATUS T9
			ON T3.INSTANCE_ID = T9.INSTANCE_ID
		WHERE T3.STATUS IN ('1','2')
		<if test="@Ognl@isNotEmpty(superviseMark)">
			AND T9.SUPERVISE_MARK = #{superviseMark,jdbcType=VARCHAR}
		</if>
		<include refid="find_where_report_focus"></include>
		<include refid="find_where_pet_per"></include>
  	</sql>
  	<!-- 信访人员稳控信息辖区所有 结束 -->

	<!-- 信访人员稳控信息辖区所有列表（带地域全路径） 开始 -->
	<select id="findCount4JurisdictionWithRegionPath" resultType="java.lang.Integer">
		SELECT
		COUNT(1)
		<include refid="sql4JurisdictionWithRegionPath"></include>
	</select>
	<select id="findList4JurisdictionWithRegionPath" resultType="java.util.Map">
		SELECT
		<include refid="list_column"></include>,
		T9.SUPERVISE_MARK	"superviseMark",
		T3.CUR_USER			"curUserName",
		T3.CUR_ORG			"curOrgName",
		T12.ORG_ENTITY_PATH "regionPath"
		<include refid="sql4JurisdictionWithRegionPath"></include>
		ORDER BY T1.ORDER_BY DESC, T1.REPORT_ID DESC
	</select>
	<sql id="sql4JurisdictionWithRegionPath">
		FROM T_EVENT_REPORT_FOCUS T1
		INNER JOIN T_EVENT_PETITION_PERSON T2
		ON T1.REPORT_UUID = T2.REPORT_UUID
		INNER JOIN ${dbuser.workflow}.WF_PROCESS_INSTANCE T3
		ON T1.REPORT_ID = T3.FORM_ID AND T3.FORM_TYPE_ID = 362
		LEFT JOIN ${dbuser.workflow}.WF_INSTANCE_STATUS T9
		ON T3.INSTANCE_ID = T9.INSTANCE_ID
		LEFT JOIN T_DC_ORG_ENTITY_INFO T12
		ON T1.REGION_CODE = T12.ORG_CODE
		AND T12.STATUS = '001'
		WHERE T3.STATUS IN ('1','2')
		<if test="@Ognl@isNotEmpty(superviseMark)">
			AND T9.SUPERVISE_MARK = #{superviseMark,jdbcType=VARCHAR}
		</if>
		<include refid="find_where_report_focus"></include>
		<include refid="find_where_pet_per"></include>
	</sql>
	<!-- 信访人员稳控信息辖区所有（带地域全路径） 结束 -->
  	
  	
  	<!-- 信访人员稳控信息辖区所有列表(附带经纬度) 开始 -->
  	<select id="findCount4JurisdictionWithMarker" resultType="java.lang.Integer">
  		SELECT 
  			COUNT(1)
  		<include refid="sql4JurisdictionWithMarker"></include>
  	</select>
  	<select id="findList4JurisdictionWithMarker" resultType="java.util.Map">
  		SELECT 
  			<include refid="list_column"></include>,
  			T10.X "longitude",
  			T10.Y "latitude",
  			T10.Z "z"
  		<include refid="sql4JurisdictionWithMarker"></include>
  		<include refid="order_by_marker"></include>
  	</select>
  	<sql id="sql4JurisdictionWithMarker">
		FROM T_EVENT_REPORT_FOCUS T1
		INNER JOIN T_EVENT_PETITION_PERSON T2
			ON T1.REPORT_UUID = T2.REPORT_UUID
		INNER JOIN ${dbuser.workflow}.WF_PROCESS_INSTANCE T3
			ON T1.REPORT_ID = T3.FORM_ID AND T3.FORM_TYPE_ID = 362
		LEFT JOIN T_ZY_RES_MARKER T10
			ON T1.REPORT_ID=T10.RESOURCES_ID
		<choose>
			<when test="@Ognl@isNotEmpty(markerType)">
				AND T10.MARKER_TYPE = #{markerType,jdbcType=VARCHAR}
			</when>
			<otherwise>
				AND T10.MARKER_TYPE='PETITION_PERSON'
			</otherwise>
		</choose>
		<choose>
			<when test="@Ognl@isNotEmpty(mapType)">
				AND T10.MAP_TYPE = #{mapType,jdbcType=VARCHAR}
			</when>
			<otherwise>
				AND T10.MAP_TYPE = '5'
			</otherwise>
		</choose>
		WHERE T3.STATUS IN ('1','2')
		<include refid="find_where_report_focus"></include>
		<include refid="find_where_pet_per"></include>
		<include refid="find_where_marker"></include>
  	</sql>
  	
  	<!-- 经纬度查询条件 -->
  	<sql id="find_where_marker">
  		<choose>
			<when test="existPosition != null and existPosition == 1 ">
				AND (T10.X IS NOT NULL AND T10.Y IS NOT NULL)
			</when>
			<when test="existPosition != null and existPosition == 0 ">
				AND (T10.X IS NULL OR T10.Y IS NULL)
			</when>
		</choose>
  	</sql>
  	
  	<!-- 经纬度排序字段 -->
  	<sql id="order_by_marker">
  		<choose>
	  		<when test="@Ognl@isNotEmpty(orderByField)">
	  			ORDER BY ${orderByField}
	  		</when>
	  		<otherwise>
  				ORDER BY T1.REPORT_ID DESC
	  		</otherwise>
	  	</choose>
  	</sql>
  	
  	<!-- 信访人员稳控信息辖区所有(附带经纬度) 结束 -->
  	
  	
  	<!-- 信访人员稳控信息辖区归档列表 开始 -->
  	<select id="findCount4Archived" resultType="java.lang.Integer">
  		SELECT 
  			COUNT(1)
  		<include refid="sql4Archived"></include>
  	</select>
  	<select id="findList4Archived" resultType="java.util.Map">
  		SELECT 
  			<include refid="list_column"></include>,
  			T3.END_TIME	"instanceEndTime"
  		<include refid="sql4Archived"></include>
  		<include refid="order_by"></include>
  	</select>
  	<sql id="sql4Archived">
		FROM T_EVENT_REPORT_FOCUS T1, T_EVENT_PETITION_PERSON T2, ${dbuser.workflow}.WF_PROCESS_INSTANCE T3
		WHERE T1.REPORT_UUID = T2.REPORT_UUID AND T1.REPORT_ID = T3.FORM_ID AND T3.FORM_TYPE_ID = 362
		AND T3.STATUS = '2'
		<include refid="find_where_report_focus"></include>
		<include refid="find_where_pet_per"></include>
		<include refid="find_where_workflow"></include>
  	</sql>
  	<!-- 信访人员稳控信息辖区归档 结束 -->
  	
  	<!-- 信访人员稳控信息我的阅办列表 开始 -->
  	<select id="findCount4MsgReading" resultType="java.lang.Integer">
  		SELECT 
  			COUNT(1) from (
  				SELECT 
	  			T7.MSG_ID		"msgId"
	  		FROM T_EVENT_REPORT_FOCUS T1
	  		INNER JOIN ${dbuser.workflow}.WF_PROCESS_INSTANCE T3
	  			ON T1.REPORT_ID = T3.FORM_ID AND T3.FORM_TYPE_ID in (362,36201) 
	  		INNER JOIN ${dbuser.workflow}.JBPM4_TASK T4
	  			ON T3.INSTANCE_ID = T4.PROCINST_
	  		inner join T_BAS_MSG T7 on T4.DBID_ = T7.BIZ_ID
	  		inner join T_BAS_MSG_RECEIVER T8 on T7.MSG_ID = T8.MSG_ID
	  		WHERE T7.IS_DEL = '0'
	  		<include refid="sql4MsgReading"></include>
	  		union all
	  		SELECT 
	  			T7.MSG_ID		"msgId"
	  		FROM T_EVENT_REPORT_FOCUS         T1,
	  			 ${dbuser.workflow}.WF_PROCESS_INSTANCE T3,
	  			 ${dbuser.workflow}.WF_TASK             T6,
	  			 T_BAS_MSG                    T7,
	  			 T_BAS_MSG_RECEIVER           T8
	  		WHERE T1.REPORT_ID = T3.FORM_ID
	  		AND T3.FORM_TYPE_ID in (362,36201) 
		   	AND T3.INSTANCE_ID = T6.INSTANCE_ID
		   	AND T7.BIZ_ID = T6.TASK_ID
		   	AND T7.MSG_ID = T8.MSG_ID
		   	AND T7.IS_DEL = '0'
	  		<include refid="sql4MsgReading"></include>
  			)
  	</select>
  	<select id="findList4MsgReading" resultType="java.util.Map">
  		select * from (
	  		SELECT 
	  			T7.MSG_ID		"msgId",
	  			T1.REPORT_ID	"reportId",
	  			T1.REPORT_UUID	"reportUUID",
	  			T1.REPORT_CODE	"reportCode",
	  			T3.INSTANCE_ID	"instanceId",
	  			T7.SENDER_NAME	"msgSenderName", 
	  			T7.MSG_CONTENT	"msgContent", 
	  			T7.SEND_TIME	"msgSendTime", 
	  			T8.STATUS_		"msgReceiveStatus"
	  		FROM T_EVENT_REPORT_FOCUS T1
	  		INNER JOIN ${dbuser.workflow}.WF_PROCESS_INSTANCE T3
	  			ON T1.REPORT_ID = T3.FORM_ID AND T3.FORM_TYPE_ID in (362,36201) 
	  		INNER JOIN ${dbuser.workflow}.JBPM4_TASK T4
	  			ON T3.INSTANCE_ID = T4.PROCINST_
	  		inner join T_BAS_MSG T7 on T4.DBID_ = T7.BIZ_ID
	  		inner join T_BAS_MSG_RECEIVER T8 on T7.MSG_ID = T8.MSG_ID
	  		WHERE T7.IS_DEL = '0'
	  		<include refid="sql4MsgReading"></include>
	  		union all
	  		SELECT 
	  			T7.MSG_ID		"msgId",
	  			T1.REPORT_ID	"reportId",
	  			T1.REPORT_UUID	"reportUUID",
	  			T1.REPORT_CODE	"reportCode",
	  			T3.INSTANCE_ID	"instanceId",
	  			T7.SENDER_NAME	"msgSenderName", 
	  			T7.MSG_CONTENT	"msgContent", 
	  			T7.SEND_TIME	"msgSendTime", 
	  			T8.STATUS_		"msgReceiveStatus"
	  		FROM T_EVENT_REPORT_FOCUS         T1,
	  			 ${dbuser.workflow}.WF_PROCESS_INSTANCE T3,
	  			 ${dbuser.workflow}.WF_TASK             T6,
	  			 T_BAS_MSG                    T7,
	  			 T_BAS_MSG_RECEIVER           T8
	  		WHERE T1.REPORT_ID = T3.FORM_ID
	  		AND T3.FORM_TYPE_ID in (362,36201) 
		   	AND T3.INSTANCE_ID = T6.INSTANCE_ID
		   	AND T7.BIZ_ID = T6.TASK_ID
		   	AND T7.MSG_ID = T8.MSG_ID
		   	AND T7.IS_DEL = '0'
	  		<include refid="sql4MsgReading"></include>
  		) a
  		ORDER BY "msgReceiveStatus", "msgId" DESC 
  	</select>
  	<sql id="sql4MsgReading">
   		<choose>
   			<when test="@Ognl@isNotEmpty(msgModuleCode)">
   				AND T7.MODULE_CODE = #{msgModuleCode,jdbcType=VARCHAR}
   			</when>
   			<when test="@Ognl@isNotEmpty(msgModuleCodeArray)">
   				AND T7.MODULE_CODE IN
				<foreach collection="msgModuleCodeArray" index="index" item="item" open="(" separator="," close=")">
					#{item}
				</foreach>
   			</when>
   		</choose>
   		<if test="@Ognl@isNotEmpty(msgKeyWord)">
   			AND (
   				T7.SENDER_NAME LIKE '%' || #{msgKeyWord,jdbcType=VARCHAR} || '%'
   				OR
   				T7.MSG_CONTENT LIKE '%' || #{msgKeyWord,jdbcType=VARCHAR} || '%'
   			)
   		</if>
   		<if test="@Ognl@isNotEmpty(msgSendDayStart)">
   			AND T7.SEND_TIME <![CDATA[>=]]> #{msgSendDayStart,jdbcType=TIMESTAMP}
   		</if>
   		<if test="@Ognl@isNotEmpty(msgSendDayEnd)">
   			AND T7.SEND_TIME <![CDATA[<]]> #{msgSendDayEnd,jdbcType=TIMESTAMP} + 1
   		</if>
		<if test="msgReceiveUserId != null ">
			AND T8.RECEIVER_ID = #{msgReceiveUserId,jdbcType=DECIMAL}
		</if>
		<if test="msgReceiveOrgId != null ">
			AND T8.RECEIVE_ORG_ID = #{msgReceiveOrgId,jdbcType=DECIMAL}
		</if>
		<choose>
			<when test="@Ognl@isNotEmpty(msgReceiveStatus)">
				AND T8.STATUS_ = #{msgReceiveStatus,jdbcType=VARCHAR}
			</when>
			<otherwise>
				AND T8.STATUS_ IN ('0', '1')
			</otherwise>
		</choose>
		<include refid="find_where_report_focus"></include>
  	</sql>
  	<!-- 信访人员稳控信息我的阅办 结束 -->
  	
  	<!-- 排序字段 -->
  	<sql id="order_by">
  		ORDER BY T1.REPORT_ID DESC
  	</sql>
  	
  	<!-- 重点关注上报查询条件 -->
  	<sql id="find_where_report_focus">
  		<choose>
  			<when test="@Ognl@isNotEmpty(reportValid)">
  				AND T1.IS_VALID = #{reportValid,jdbcType=VARCHAR}
  			</when>
  			<when test='@Ognl@isEmpty(reportValid) and listType == "7" '>
  				AND T1.IS_VALID IN ('1', '2')
  			</when>
  			<otherwise>
  				AND T1.IS_VALID = '1'
  			</otherwise>
  		</choose>
  		<if test="reporterId != null ">
  			AND T1.CREATOR = #{reporterId,jdbcType=DECIMAL}
  		</if>
  		<if test="@Ognl@isNotEmpty(regionCode)">
  			AND T1.REGION_CODE LIKE #{regionCode,jdbcType=VARCHAR} || '%'
  		</if>
  		<if test="@Ognl@isNotEmpty(occurred)">
  			AND T1.OCCURRED LIKE '%' || #{occurred,jdbcType=VARCHAR} || '%'
  		</if>
  		<if test="@Ognl@isNotEmpty(keyWord)">
  			AND (
  				T1.OCCURRED LIKE '%' || #{keyWord,jdbcType=VARCHAR} || '%'
  				OR
  				T1.REPORTER_NAME LIKE '%' || #{keyWord,jdbcType=VARCHAR} || '%'
  			)
  		</if>
  		<if test="@Ognl@isNotEmpty(reportUUID)">
  			AND T1.REPORT_UUID = #{reportUUID,jdbcType=VARCHAR}
  		</if>
  		<if test="@Ognl@isNotEmpty(reportCode)">
  			AND T1.REPORT_CODE = #{reportCode,jdbcType=VARCHAR}
  		</if>
  		<if test="@Ognl@isNotEmpty(reportDayStart)">
   			AND T1.REPORT_TIME <![CDATA[>=]]> #{reportDayStart,jdbcType=TIMESTAMP}
   		</if>
   		<!-- 传入空字符串时，会导致时间计算异常，因此需要同时将null和空串排除 -->
   		<if test="@Ognl@isNotEmpty(reportDayEnd)">
   			AND T1.REPORT_TIME <![CDATA[<]]> #{reportDayEnd,jdbcType=TIMESTAMP} + 1
   		</if>
  		<choose>
  			<when test="@Ognl@isNotEmpty(reportStatus)">
  				AND T1.REPORT_STATUS = #{reportStatus,jdbcType=VARCHAR}
  			</when>
  			<when test="@Ognl@isNotEmpty(reportStatusArray)">
  				AND T1.REPORT_STATUS IN
  				<foreach collection="reportStatusArray" index="index" item="item" open="(" separator="," close=")">
  					#{item}
  				</foreach>
  			</when>
  			<when test="@Ognl@isNotEmpty(reportStatusRemoveArray)">
  				AND T1.REPORT_STATUS NOT IN
  				<foreach collection="reportStatusRemoveArray" index="index" item="item" open="(" separator="," close=")">
  					#{item}
  				</foreach>
  			</when>
  		</choose>
		<if test='@Ognl@isNotEmpty(isOvertime) and @Ognl@isNotEmpty(listType) and listType == "2" '>
			<![CDATA[ AND T4.DUEDATE_ < SYSDATE ]]>
		</if>
  	</sql>
  	
  	<!-- 信访人员稳控信息查询条件 -->
  	<sql id="find_where_pet_per">
  		AND T2.IS_VALID = '1'
		<if test="@Ognl@isNotEmpty(dataSourceArray)">
			AND T2.DATA_SOURCE IN
			<foreach collection="dataSourceArray" index="index" item="item" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
  	</sql>
  	
  	<!-- 工作流相关查询条件 -->
  	<sql id="find_where_workflow">
  		<if test="@Ognl@isNotEmpty(instanceEndDayStart)">
   			AND T3.END_TIME <![CDATA[>=]]> #{instanceEndDayStart,jdbcType=TIMESTAMP}
   		</if>
   		<!-- 传入空字符串时，会导致时间计算异常，因此需要同时将null和空串排除 -->
   		<if test="@Ognl@isNotEmpty(instanceEndDayEnd)">
   			AND T3.END_TIME <![CDATA[<]]> #{instanceEndDayEnd,jdbcType=TIMESTAMP} + 1
   		</if>
  	</sql>
  	
  	<select id="findToDoOrgId" resultType="java.util.Map">
  		SELECT 
  			T1.ORG_ID
  			FROM ${dbuser.workflow}.WF_PROCESS_INSTANCE T
  			INNER JOIN ${dbuser.workflow}.WF_TASK T1
  			ON T.INSTANCE_ID = T1.INSTANCE_ID
  			WHERE T.FORM_TYPE_ID = 36201  
  			<if test="@Ognl@isNotEmpty(instanceId)">
	   			AND T.INSTANCE_ID = #{instanceId}
	   		</if> 
	   		<if test="@Ognl@isNotEmpty(taskName)">
	   			AND T1.TASK_NAME = #{taskName}
	   		</if> 
	   		ORDER BY T1.TASK_ID DESC      
  	</select>
  	
  	<!-- 依据id更新信访人员稳控信息 -->
  	<update id="updateTaskTime">
  		UPDATE ${dbuser.workflow}.JBPM4_TASK T
		<set>
			<choose>
				<when test="newDate != null">
					T.DUEDATE_ = #{newDate,jdbcType=TIMESTAMP}
				</when>
				<otherwise>
					T.DUEDATE_ = T.DUEDATE_
				</otherwise>
			</choose>
		</set>
		<where>
			<choose>
				<when test="@Ognl@isNotEmpty(taskId)">
					T.DBID_ = #{taskId}
				</when>
				<otherwise>
					1 = 2
				</otherwise>
			</choose>
		</where>
  	</update>
</mapper>