<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
<properties resource="global.properties">	</properties>  
	<settings>
		<setting name="lazyLoadingEnabled" value="false" />
		<!-- <setting name="multipleResultSetsEnabled" value="true" /> -->
		<!--<setting name="useColumnLabel" value="true" /> -->
		<!--<setting name="useGeneratedKeys" value="false" /> -->
		<!--<setting name="enhancementEnabled" va.lue="false" /> -->
		<!--<setting name="defaultExecutorType" value="simple" /> -->
		<!--<setting name="autoMappingBehavior" value="PARTIAL" /> -->
		<setting name="logImpl" value="LOG4J2"/>
	</settings>
	<!--<typeAliases>
		<package name="cn.ffcs.*.*.bo" />
	</typeAliases>-->


</configuration>
