@charset "utf-8";
/* CSS Document */
body{font-family:"Microsoft YaHei", simsun, Tahoma, Arial; font-size:12px; line-height:160%; margin:0; padding:0;}
a {
background: transparent;
text-decoration: none;}
.AlphaBack{background-color: rgba(0, 0, 0, 0.5);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8c000000',endColorstr='#8c000000')}
.movemain{width:243px; padding:0px 10px; min-height:100%; position:absolute; right:0; top:0; z-index:1; max-height:500px;}
.search-wrap{ min-height:40px; width:100%; margin-top:10px;}
.search-wrap .form-control{display: inline-block;
height: 24px;
padding: 4px 10px;
width: 73%;
line-height: 1.42857143;
color: #666;
background-color: #fff;
background-image: none;
border: 0;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
float:left;}
.search-btn{background-color: #fff;
padding: 4px 0;
display: inline-block;
vertical-align: top;
line-height: 2.2rem;
height: 24px;
width: 18%;
cursor: pointer; float:left; text-align:center;}
.search-btn a{display: block;
border-left: 1px solid #b9ddff;
margin-top: 2px;}
.search-btn i{display: inline-block; background:url(images/move_icon1.png) no-repeat;cursor: pointer; width:21px; height:21px;}
.button-box{ margin-bottom:10px;}
.button-box .btn-group{display: inline-block;
vertical-align: middle;
width: 32%;
}
.button-box .btn-group a{display: inline-block;
padding: 5px 2px;
margin-bottom: 0px;
line-height: 1.8;
text-align: center;
white-space: nowrap;
vertical-align: middle;
cursor: pointer;
-webkit-user-select: none;
background-image: none;
color: rgb(255, 255, 255);
width: 95%;
text-decoration:none;
background-color:#0679b0;}
.button-box .btn-group a.current{background-color:#05a5f2;}
.button-box .btn-group a:hover{background-color:#05a5f2;}
.outer-wrap{ min-height:100px;}
.outer-wrap .row{ margin-bottom:12px;}
.outer-wrap .row .serial-number{border-radius: 4px;
height: 20px;
width: 20px;
line-height: 20px;
background-color:#05a5f2;
text-align: center;
display: inline-block;
color:#fff;
margin-right:5px;
}
.outer-wrap .row .city-name{width: 74px;
display: inline-block;
color: rgb(255, 255, 255);}
.outer-wrap .row i{ background:url(images/move_icon2.png) no-repeat; width:68px; height:12px; display:inline-block; margin:0 10px 0 2px; vertical-align:middle;}

.timelinemain{position: absolute;
bottom: 0px;
width: 55%;
margin-left: 10%;
min-height:50px;}
.timelinebox{z-index: 100;
width: 100%;
color:#fff;
padding: 0px;
position: relative;
top: 0px;
}
.timelinebox .leftArrow-btn{position: absolute;
z-index: 100;
left: 10px;
top: 18px;
cursor: pointer;
background:url(images/move_icon3.png) no-repeat;
width:11px; 
height:15px;
}
.timelinebox .rightArrow-btn{position: absolute;
z-index: 100;
right: 10px;
top: 18px;
cursor: pointer;
background:url(images/move_icon4.png) no-repeat;
width:11px; 
height:15px;
}
.timelinebox .midline{width: 93%;
height: 1px;
background-color: #fff;;
position: relative;
top: 25px;
left:0px;
margin:0 auto;}
.timelinebox .swiper-container{
margin: 6px auto;
position: relative;
overflow: hidden;
z-index: 1;
width:92%;}
.swiper-container .time-row{width: 85px;
height: 39px;
cursor: pointer;
float:left;
}