<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ffcs.zhsq.mybatis.persistence.eventDay.EventDayMapper" >

	<select id="findCountEventDayPagination" resultType="java.lang.Integer">
  		SELECT COUNT(1) FROM V_EVENT_DAY T
  		<include refid="find_event_day"></include>
  	</select>
  	
  	<select id="findListEventDayPagination" resultType="java.util.Map">
  		SELECT 
  			T.EVENT_ID "eventId",
  			T.ORG_CODE "orgCode",
  			T.EVENT_NAME "eventName",
  			T.CONTENT_ "content",
  			T.CREATE_TIME "createTime",
  			T.TYPE_ "type" 
  		FROM V_EVENT_DAY T 
  		<include refid="find_event_day"></include>
  		ORDER BY T.CREATE_TIME DESC
  	</select>
  	
  	<sql id="find_event_day">
  		<where>
  			<if test="orgCode != null and orgCode != '' ">
  				T.ORG_CODE LIKE #{orgCode} || '%'
  			</if>
  		</where>
  	</sql>
  	
  	<select id="findEventPaginationCount" resultType="java.lang.Integer">
  		SELECT COUNT(1) FROM V_SUP_EVENT T 
  		<include refid="find_where_yc"></include>
  	</select>
  	
  	<select id="findEventPaginationList" resultType="java.util.Map">
  		SELECT 
  			T.EVENTID "eventId",
  			T.EVENTNAME "eventName",
  			T.CONTENT_ "content",
			T.INSTANCEID "instanceId",
			T.WORKFLOWID "workflowId",
			T.INFOORGCODE "infoOrgCode",
			T.TYPE_ "type"
  		FROM V_SUP_EVENT T 
  		<include refid="find_where_yc"></include>
  	</select>
  	
  	<sql id="find_where_yc">
  		<where>
  			<if test="orgCode != null and orgCode != '' ">
  				T.INFOORGCODE LIKE #{orgCode} || '%'
  			</if>
  		</where>
  	</sql>
  	
  	
  	
  	
</mapper>