<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ffcs.zhsq.mybatis.persistence.jiangyinPlatform.recentContact.RecentContactMapper">
	<resultMap id="BaseResultMap" type="cn.ffcs.zhsq.mybatis.domain.jiangyinPlatform.recentContact.RecentContact">
		<id column="RC_UUID" property="rcUuid" jdbcType="VARCHAR" /> <!--主键标识-->
		<result column="CONTACTED_ACCOUNT" property="contactedAccount" jdbcType="VARCHAR" /> <!--被联系方账号-->
		<result column="CONTACT_ACCOUNT" property="contactAccount" jdbcType="VARCHAR" /> <!--联系方账号-->
		<result column="CONTACT_TYPE" property="contactType" jdbcType="VARCHAR" /> <!--通讯类别(1:电话, 2:视频, 3:短信)-->
		<result column="CONTACT_TIME" property="contactTime" jdbcType="TIMESTAMP" /> <!--联系时间-->
		<result column="CALL_TYPE" property="callType" jdbcType="VARCHAR" /> <!--呼叫方式（1:呼入, 2:呼出）-->
		<result column="IS_VALID" property="isValid" jdbcType="VARCHAR" /> <!--记录状态-->
		<result column="CREATOR" property="creator" jdbcType="DECIMAL" /> <!--创建人-->
		<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" /> <!--创建时间-->
		<result column="UPDATOR" property="updator" jdbcType="DECIMAL" /> <!--修改人-->
		<result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" /> <!--修改时间-->
		<result column="REMARK" property="remark" jdbcType="VARCHAR" /> <!--备注-->
		<result column="AB_NAME" property="abName" jdbcType="VARCHAR" /> <!--通讯录姓名-->
		<result column="SYS_USER_NAME" property="sysUserName" jdbcType="VARCHAR" /> <!--通讯录姓名-->
		<result column="SHOW_TEL" property="showTel" jdbcType="VARCHAR" /> <!--列表上展示的号码-->
	</resultMap>
		
	<!-- 列表（分页） -->	
	<select id="searchList"  resultMap="BaseResultMap">
	SELECT * FROM 
		(SELECT
			T.RC_UUID,
			CASE 
			WHEN T.CALL_TYPE = 1
				THEN (SELECT T.CONTACT_ACCOUNT FROM T_JY_RECENT_CONTACT WHERE RC_UUID = T.RC_UUID)
			WHEN T.CALL_TYPE = 2
				THEN (SELECT T.CONTACTED_ACCOUNT FROM T_JY_RECENT_CONTACT WHERE RC_UUID = T.RC_UUID)
			END SHOW_TEL,
			T.CONTACT_TYPE,
			T.CONTACT_TIME,
			T.CALL_TYPE,
			T.REMARK,
			CASE 
			WHEN T.CALL_TYPE = 1
				THEN (SELECT NAME FROM T_JY_ADDRESS_BOOK WHERE T.CONTACT_ACCOUNT = TEL AND IS_VALID = '1' AND CREATOR = T.CREATOR)
			WHEN T.CALL_TYPE = 2
				THEN (SELECT NAME FROM T_JY_ADDRESS_BOOK WHERE T.CONTACTED_ACCOUNT = TEL AND IS_VALID = '1' AND CREATOR = T.CREATOR)
			END AB_NAME,
			T.SYS_USER_NAME
		FROM
			T_JY_RECENT_CONTACT T
		WHERE NOT EXISTS
			(SELECT 1 FROM T_JY_RECENT_CONTACT
				WHERE (CONTACTED_ACCOUNT = T.CONTACTED_ACCOUNT AND CONTACT_ACCOUNT = T.CONTACT_ACCOUNT OR CONTACT_ACCOUNT = T.CONTACTED_ACCOUNT
				AND CONTACTED_ACCOUNT = T.CONTACT_ACCOUNT)
			AND CONTACT_TIME > T.CONTACT_TIME AND CREATOR = #{creator,jdbcType=DECIMAL})
		AND #{userTel,jdbcType=VARCHAR} IN (CONTACT_ACCOUNT, CONTACTED_ACCOUNT)
		AND T.CREATOR = #{creator,jdbcType=DECIMAL}) A
		WHERE 1 = 1
		<if test="name != null and name != ''" >
				<![CDATA[ AND A.SHOW_TEL like '%'||#{name,jdbcType=VARCHAR}||'%' or A.AB_NAME like '%'||#{name,jdbcType=VARCHAR}||'%' or  A.SYS_USER_NAME like '%'||#{name,jdbcType=VARCHAR}||'%' ]]>
		</if>
		ORDER BY A.CONTACT_TIME DESC
	</select>
	
	<!-- 新增 -->	
	<insert id="insert" parameterType="cn.ffcs.zhsq.mybatis.domain.jiangyinPlatform.recentContact.RecentContact">
		<selectKey keyProperty="rcUuid" resultType="java.lang.String" order="BEFORE"> 
			SELECT sys_guid() FROM DUAL
		</selectKey>
		INSERT INTO
			T_JY_RECENT_CONTACT
		(
			RC_UUID,
			CONTACTED_ACCOUNT,
			CONTACT_ACCOUNT,
			CONTACT_TYPE,
			CONTACT_TIME,
			CALL_TYPE,
			SYS_USER_NAME,
			IS_VALID,
			CREATOR,
			CREATE_TIME,
			UPDATOR,
			UPDATE_TIME,
			REMARK
		) VALUES (
			#{rcUuid,jdbcType=VARCHAR},
			#{contactedAccount,jdbcType=VARCHAR},
			#{contactAccount,jdbcType=VARCHAR},
			#{contactType,jdbcType=VARCHAR},
			#{contactTime,jdbcType=TIMESTAMP},
			#{callType,jdbcType=VARCHAR},
			#{sysUserName,jdbcType=VARCHAR},
			'1',
			#{creator,jdbcType=DECIMAL},
			sysdate,
			#{updator,jdbcType=DECIMAL},
			sysdate,
			#{remark,jdbcType=VARCHAR}
		)
	</insert>
	
	<!-- 详情 -->	
	<select id="searchById" parameterType="java.lang.String"  resultMap="BaseResultMap">
		SELECT
			T.RC_UUID,
			T.CONTACTED_ACCOUNT,
			T.CONTACT_ACCOUNT,
			T.CONTACT_TYPE,
			T.CONTACT_TIME,
			T.CALL_TYPE,
			T.IS_VALID,
			T.CREATOR,
			T.CREATE_TIME,
			T.UPDATOR,
			T.UPDATE_TIME,
			T.REMARK,
			T.SYS_USER_NAME
		FROM
			T_JY_RECENT_CONTACT T
		WHERE
			RC_UUID= #{rcUuid,jdbcType=VARCHAR} 
	</select>
	
	<!-- 删除 -->	
	<delete id="delete" parameterType="cn.ffcs.zhsq.mybatis.domain.jiangyinPlatform.recentContact.RecentContact">
		UPDATE
			T_JY_RECENT_CONTACT
		SET IS_VALID = '0', UPDATE_TIME = SYSDATE, UPDATOR = #{updator,jdbcType=DECIMAL}
		WHERE
			RC_UUID= #{rcUuid,jdbcType=VARCHAR} 
	</delete>
</mapper>